name: Sync Proto Files

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync-protos:
    runs-on: ubuntu-latest

    steps:
    # Passo 1: Checkout do repositório de origem
    - name: Checkout Projects-Releases repository
      uses: actions/checkout@v3
      with:
        repository: Jorge-Armando-Von-Doellinger/Projects-Release
        ref: main

    # Passo 2: Encontrar e copiar arquivos .proto da pasta HMS/Micro-Services
    - name: Find and copy .proto files
      run: |
        mkdir -p proto-files
        find HMS/HMS.MicroServices -name "*.proto" -exec cp --parents {} proto-files/ \;

    # Passo 3: Checkout do repositório de destino grpc-proto-files
    - name: Checkout grpc-proto-files repository
      uses: actions/checkout@v3
      with:
        repository: Jorge-Armando-Von-Doellinger/grpc-proto-files
        token: ${{ secrets.GITHUB_TOKEN }}

    # Passo 4: Mover os arquivos copiados para o diretório final e commit no repositório de destino
    - name: Move proto files to target directory and commit
      run: |
        mkdir -p HMS/ProtoFiles  # Cria o diretório de destino se não existir
        mv proto-files/HMS/Micro-Services/* HMS/ProtoFiles/ || echo "Nenhum arquivo para mover"
        git add HMS/ProtoFiles/*
        git commit -m "Add new .proto files"
        git push origin main
